* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Paleta de Cores */
:root {
    --cabeçalho: #051923;
    --cabeçalho2: #2E3638;
    --logo: #FFBC42;
    --fonte: #FFFBFF;
    --seção: #2F3732;
    --fontefooter: #999999;
}

h1 {
    color: var(--logo);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--cabeçalho);
}

nav {
    background-color: var(--logo);
    font-style: italic;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 30px;
    gap: 20px;
}

.home {
    color: var(--cabeçalho2);
}

.ad {
    color: var(--cabeçalho2);
}

.section1 {
    text-align: center;
    padding-top: 30px;
    font-family: "Lilita One", sans-serif;
    font-size: 22px;
    font-weight: 2px;
}

.bot {
    padding-top: 40px;
    text-align: center;
}



button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: var(--logo);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: var(--cabeçalho);
  color: var(--logo);
  box-shadow: var(--fontefooter) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: var(--cabeçalho);
  color: var(--logo);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}



footer {
    background-color: var(--cabeçalho);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--fontefooter);
    font-family: "Lilita One";
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
}

.face {
    width: 50px;
}

.twitter {
    width: 65px;
}

.linkedin {
    width: 70px;
}

.insta {
    width: 70px;
}

.you {
    width: 80px;
}

footer h3 {
    padding-bottom: 15px;
}